* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* Fuente */
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
  color: var(--color-text);
}

:root {
  --color-primary: #2e5d3f;
  --color-secondary: #a67b5b;
  --color-neutral: #fff8e7;
  --color-text: #333333;
}

body {
  background-color: var(--color-neutral);
}



main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
