* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* Fuente */
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
  color: var(--color-text);
}

:root {
  --color-primary: #2e5d3f;
  --color-secondary: #a67b5b;
  --color-neutral: #fff8e7;
  --color-text: #333333;
}

body {
  background-color: var(--color-neutral);
}

header {
  display: flex;
  flex-direction: column;
  background-color: #1a3d5d;
}

header div {
  margin: auto;
  min-height: 30px;
  justify-content: center;
  align-items: center;
}
header div p {
  color: var(--color-neutral);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
  background-color: whitesmoke;
  box-shadow: 1px 11px 111px 1px var(--color-text);

}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3em;
  margin: 0 0 0 2em;
}

nav a {
  color: var(--color-text);
  font-weight: 600;
}

#carrito {
  width: 30px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.informacion {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  
}


.contenedor {
  height: 150px;
  font-size: 23px;
  overflow: hidden;
}

.full{
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8em;
}

.contenedor.mitad{
  grid-column: span 2;
  font-size: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor.mitad.dos{
  background-image: url(/assets/img/img\ 1\ section.jpg);
  background-size: cover;
  background-position: center;
}

.contenedor.cuarto{
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor.cuarto.uno{
  background-image: url(/assets/img/img\ 2\ section\ 1.jpg);
  background-size: cover;
  background-position: center;
}

.contenedor.cuarto.cuatro{
  background-image: url(/assets/img/img\ 3\ section\ 1.jpg);
  background-size: cover;
  background-position: center;
}


.contenedor.bann{
  background-image: url("../img/banner-img.jpg");
  background-size: cover;
  background-position: 100% 30%;
  min-height: 580px;
  margin: 3em 1.5em ;
  box-shadow: 5px 5px 10px 0px var(--color-text);
 
}


.book-slider {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
}

.book-slider-div img {
  width: 250px;
}
