* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* Fuente */
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
  color: var(--color-text);
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: #2e5d3f;
  --color-secondary: #a67b5b;
  --color-neutral: #fff8e7;
  --color-text: #333333;
}

body {
  background-color: var(--color-neutral);
}

header{
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 0px 25px 1px var(--color-text);
}
nav {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  width: 80%;
  min-height: 100px;
  margin: auto;
  
}

nav a {
  display: inline-block;
  color: var(--color-text);
  font-weight: 450;
  transition: color 0.3s ease, transform 0.5s ease;;
}

nav a:hover {
  color: var(--color-secondary); 
  transform: scale(1.1);
}

nav img{
  width: 13%;
}

.nav-a-href-2 h1{
  font-size: 1em;
  font-weight: 540;
}

.nav-a-href-2 span{
  color: var(--color-secondary);
}

.nav-a-href-2 a{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

nav ul{
  display: flex;
  justify-content: center;
  gap: 1em;
}

nav li{
  list-style: none;
}

#carrito {
  width: 30px;
}

main {
  display: flex;
  flex-direction: column;
}

.contenedor.bann{
  background-image: url("../img/banner-img.jpg");
  background-size: cover;
  background-position: 100% 30%;
  min-height: 580px;
  /* margin: 1.5em 0 1.5em 0 ; */
  box-shadow: 5px 5px 10px 0px var(--color-text);
 
}

.informacion {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
  margin: auto;
  box-sizing: border-box;
  padding: 5em 0 3em 0;
  
}

.informacion h2{
  font-size: 1.5em;
}


.contenedor.mitad{
  grid-column: span 2;
  font-size: 1.7em;
}

.contenedor.cuarto{
  font-size: 1.3em;
  width: 100%;
}

.full{
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8em;
}
.contenedor.mitad.dos{
  background-image: url(../img/img\ 1\ section.jpg);
  background-size: cover;
  background-position: center;
}

.contenedor.cuarto{
  grid-column: span 1;
}

.contenedor.cuarto.uno{
  background-image: url(../img/img\ 2\ section\ 1.jpg);
  background-size: cover;
  background-position: center;
}

.contenedor.cuarto.cuatro{
  background-image: url(../img/img\ 3\ section\ 1.jpg);
  background-size: cover;
  background-position: center;
}

.mas-vendidos{
  background-color: var(--color-primary);
  padding: 2em 0 4em 0;
  margin: 6em 0 6em 0;
}

.mas-vendidos.contenedor.h2{
  background-color: var(--color-primary);
  justify-content: center;
  align-items: center;
}

.mas-vendidos h2{
  font-size: 3em;
  color: var(--color-neutral);
  margin: 1em 0 2em;
}

.mas-vendidos-contenedor-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: auto;
  gap: 2em; 
  box-sizing: border-box;
}

.mas-vendidos.contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start; 
  text-align: left;
  padding: 1em;
  gap: 1em;
  background-color: white;
  border-radius: 10px;
  width: 60%; 
  margin: auto;
  min-height: 400px;
}

.precio {
  margin-left: 0.4em;
  font-size: 1.2em;
}

.mas-vendidos.contenedor img{
  width: 100%;
  border-radius: 15px;
  
}

.quienes-somos {
  width: 80%;
  margin: 3em auto;
  padding: 2em;
  background-color: var(--color-secondary);
  color: var(--color-neutral);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.quienes-somos h2 {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.quienes-somos p {
  font-size: 1.2em;
  line-height: 1.6;
  text-align: center;
}


.section-footer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  margin: auto;
  padding: 2em;
  font-size: 1.2em;
  
  justify-content: space-between;
  box-sizing: border-box;
}

.invisible {
  display: none !important;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .nav-a-href-2 {
  order: -1; 
  }
  .contenedor.bann{
    min-height: 400px;
  }

  .informacion{
    display: grid;
    grid-template-columns: 2fr;
  }

  .full{
    grid-column: span 2;  
    font-size: 2.5em;
  }

  .contenedor.mitad.dos{
    display: none;
  }

  .contenedor.cuarto.uno{
    width: 300px;
  }

  .contenedor.cuarto.cuatro{
    width: 300px;
  }

  .mas-vendidos.contenedor.h2{
    font-size: 1em;
    
    
  }

  .mas-vendidos-contenedor-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }

  .mas-vendidos.contenedor{
    width: 80%;
  }


  .section-footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    font-size: 0.8em;
  }

  .section-footer h5{
    font-size: 1.3em;
  }


}
